@using (Html.BeginForm("ProcessSearchFormInput", "Search", new { area = "Search" }, FormMethod.Post, new { onkeypress = "return event.keyCode != 13;" }))
{
<div>
    This is the search form
    <button type = "submit" title="Search">Search</button>
 </div>
}
