@model Destination2.WebUi.Search.Models.FlightResultViewModel
@{
    ViewBag.Title = "FlightResults";
}
 

    <h1>FlightResults</h1>
    <h2>@Model.Message</h2>
    <table>
        <thead>
            <tr>
                <th> Image</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Atlantis The Palm - Dubai Beach
                </td>
                <td>
                    The Legend of Atlantis is brought to life in modern day Dubai at this iconic resort. It is situated on its own beautiful, man-made island and has unique architecture which is breathtaking to behold. If you’re looking for a five star hotel in Dubai, look no further.
                </td>
                <td>
                    £1856.97
                </td>
            </tr>
        </tbody>
    </table>

 